{% extends 'layout.html' %}
<div class="pagetitle">
    <h1>Facebook</h1>
  </div>
{% block content %}
<section class="section">
    <div class="row">
      
      <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Post to Facebook Page </h5>
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="alert alert-{{ category }} bg-{{ category }} text-light border-0 alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% endfor %}
              {% endif %}
            {% endwith %}
              <form class="row g-3" action="/facebookvideo/upload" method="post" enctype="multipart/form-data"> 
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Contents</label>
                   <textarea class="form-control" placeholder="Content" id="content" name="content" style="height: 100px;"></textarea>
                </div>
                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Post Video</label>
                  <input type="file" class="form-control" id="file" name="file">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>

            </div>
          </div>
      </div>
      <div class="col-lg-6">

      </div>

       
    </div>
  </section>
  {% endblock %}